<div class="blogcard">
    <div class="blogcard-header">
    </div>
    <div class="blogcard-body">

        <form class="commentForm">
            <label for="inputComment" class="form-label">Comment</label>
            <textarea class="form-control" id="inputComment" rows="3"></textarea>
            <div class="d-grid loginSignupBtn">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
            <input type="hidden" id="postId" name="postId" value="{{id}}" />
            <input type="hidden" id="userId" name="userId" value="{{userId}}" />
        </form>
    </div>
</div>

<script src="/js/comment.js"></script>