{{!-- <div class="container "> --}}
    <div class="blogcard">
        <div class="blogcard-header">{{posttitle}}</div>
        <div class="blogcard-body">{{postbody}}</div>
    </div>
{{!-- </div> --}}