{{!-- <div class="container "> --}}
    <div class="blogcard">
        <div class="blogcard-header">
            <div class="pv-posttitle">
                {{posttitle}}
            </div>
            <div class="pv-postinfo">Posted by {{user.username}} on {{postdate}}

            </div>
        </div>
        <div class="blogcard-body">{{postbody}}</div>
    </div>
    {{!--
</div> --}}