<div class="blogcard">
    <div class="blogcard-header">
    </div>
    <div class="blogcard-body">
        <div class="comment-text">{{commentbody}}</div>
        <div class="comment-text">--{{commentAuthor}}, {{commentdate}}</div>
    </div>
</div>

<script src="/js/comment.js"></script>