<div class="blogcard">
        <a href="/updatePost/{{id}}">
        <div class="btn btn-secondary d-grid pv-collapsed-title d-flex flex-row justify-content-between">

            <div>{{posttitle}}</div>
            <div>{{postdate}}</div>

        </div>
        </a>
</div>

