{{> pagetitle}}
<div class="d-flex align-items-center flex-column" style="min-height: 60vh;">

    <div class="p-2">
        {{#if isOne}}
        {{!-- if only 1 blogpost to show --}}

        <!-- Display one blog -->
        {{>blogpostcard}}

        {{#if (more_than_one comments)}}
        {{#each comments as |comment|}}
        {{!-- if many comments --}}
        {{>commentcard}}
        {{/each}}
        {{else}}
        {{#each comments}}
        {{!-- if only 1 comment --}}
        {{>commentcard}}
        {{/each}}
        {{/if}}

        {{>addcommentcard}}

        {{else}}
        {{!-- if more than 1 blogpost to show --}}

        <!-- Loop over each blogPost object -->
        {{#each blogPosts as |blogpost|}}
        {{!-- display it --}}
        {{>blogpostcard}}
        {{/each}}

        {{/if}}
    </div>
    <div class="mt-auto p-2 ">
        <button class="newPostBtn " type="button">New Post</button>
    </div>

</div>

{{!-- {{#if isDashboard}} --}}