<div class="container d-sm-flex">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">WELCOME TO THE DASHBOARD</div>
        <div class="card-body">Dashboard Body belongs in here</div>
    </div>
</div>