<!-- Loop over each blogPost object -->
{{#each blogPosts as |blogPost|}}
<div class="container d-sm-flex">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{blogPost.posttitle}}</div>
        <div class="card-body">{{blogPost.postbody}}</div>
    </div>
</div>

{{/each}}