{{> pagetitle}}
{{> loginsignup}}

{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <form>
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">Enter your username</div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="loginCheck">
        <label class="form-check-label" for="loginCheck">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="fname-signup">first name:</label>
        <input class="form-input" type="text" id="fname-signup" />
      </div>
      <div class="form-group">
        <label for="lname-signup">last name:</label>
        <input class="form-input" type="text" id="lname-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}

<script src="/js/login.js"></script>