  .pv-btn-title {
      background-color: #DCEDC8;
      border: #3E2723;
      border-radius: 10px;
      color: #3E2723;
      padding: 3px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 26pt;
      font-weight: bolder;
      box-shadow: 6px 6px grey;
  }

  .pv-nav {
      color: #DCEDC8;
      font-size: 14pt;
      padding: 15px 30px 0 0;
  }

  .pv-nav:hover {
      color: #DCEDC8;
      text-decoration: none;
  }

  .pv-header {
      background-color: #3E2723;
      padding: 0 50px;
      color: #DCEDC8;
  }

  .pv-title {
      background-color: #3E2723;
      padding: 20px 50px 25px 50px;
      color: #DCEDC8;
  }

  .pv-footer {
      background-color: #3E2723;
      padding: 40px 50px;
      color: #DCEDC8;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
  }

  .blogcard {
      margin: 20px 40px 50px 40px;
  }

  .blogcard-header {
      border: .3rem solid #3E2723;
      padding: 2px 15px;
      background-color: #3E2723;
      color: #DCEDC8;
      display: flex;
      flex: 0 1 row;
      justify-content: space-between;
      align-items: center;
  }

  .pv-posttitle {
      font-size: 14pt;
      font-weight: bold;
  }

  .pv-postinfo {
      font-size: 10pt;
  }

  .blogcard-body {
      border: .3rem solid #3E2723;
      padding: 3px 15px;
      color: #3E2723;
  }

  html {
      height: 100%;
  }

  body {
      min-height: 100%;
      background-color: #DCEDC8;
  }

  .form-label,
  .loginSignupBtn {
      margin-top: 10px;
  }

  .blogcard-body p {

      margin: 5px 0 25px 0;
  }

  .pv-link:hover {
      background-color: #55aaff;
      color: white;
  }